/* body {
    background: url('../../themes/butterfly/source/img/NBeyLj.png');
    background-size: cover;
} */

/* #post {
    background: transparent !important;
} */

/* #post-info {
    background: rgba(0, 0, 0, 0.3);
    display: block;
    max-width: calc(90% - 60px);
    padding: 20px 30px;
    border-radius: 12px;
    margin: 0 auto;
} */

#post-info {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    /* border-radius: 15px; */
    padding: 20px;
}

/* footer and header transparent */
#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}

#article-container figure.highlight {
    border-radius: 10px;
}
/* white mode transparent
#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}

/* black mode transparent 
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
} */